/* Temporary class for viewing outlines of elements */
.black-border {
  border: 5px solid black;
}

body {
  background: #b7ecaa;
}

.markazi-text {
  font-family: 'Markazi Text', 'Times New Roman', Times, serif;
  font-size: 16pt;
}

.page-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26pt;
  font-weight: 700;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.blog-body {
  padding: 20px;
}

.navigation-bar {
  border: 3px solid rgb(6, 148, 30);
  width: auto;
  height: auto;
  display: flex;
}

.navigation-buttons-container {
  display: inline-block;
  flex: 1;
}

.navigation-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  padding: 20px;
  margin: 20px;
  display: inline-block;
  width: 20%;
}

.profile-picture-container {
  height: 100px;
  width: 100px;
}

.profile-picture {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
